ul.edit-phone-section {
	.phone {
		font-size: 1.4rem;
		letter-spacing: 2px;
		@media (max-width: 600px) {
			font-size: 0.9rem;
		}
	}

	form.update-phone-form {
		input.update-phone-input {

		}

		img.update-phone-icon {
			width: 30px;
			height: 30px;
			margin: 0 0 1rem;
		}
	}

	img.phone-icon {
		width: 25px;
		height: 25px;
		margin: 0 0 0.5rem 0.8rem;
	}

	.phone-edit-icon {
		cursor: pointer;
		width: 29px;
		height: 29px;
		margin: 0 0.4rem 0.65rem;
	}
}
