.achievements-section {
	margin: 7rem auto 4rem;
	max-width: 900px;

	.section-title {
		text-align: center;
		font-weight: 700;
		font-size: 2.7rem;
		letter-spacing: 3px;
		margin: 1rem 0;
		@media (max-width: 600px) {
			font-size: 1rem;
		}
	}

	ul.achievements-list {
		list-style: none;
		li.achievement {
			margin: 0.4rem 0;

			p.name {
				font-size: 1.25rem;
				@media(max-width: 600px) {
					font-size: 1rem;
				}
			}

			form.update-achievement-form {
				input {
					width: 789px;
					@media (max-width: 992px) { width: 500px }
					@media (max-width: 753px) { width: 400px }
					@media (max-width: 556px) { width: 300px }
					@media (max-width: 457px) { width: 250px }
					@media (max-width: 290px) { width: 150px }
				}

			}

			img.complete-mark {
				width: 24px;
				height: 24px;
				cursor: pointer;
			}

			img.remove-icon {
				width: 20px;
				height: 20px;
				cursor: pointer;
			}
			img.edit-icon {
				width: 26px;
				height: 26px;
				margin: 0 0.5rem 0 0.3rem;
				cursor: pointer;
			}
		}
	}

	.form-section {
		text-align: center;
		margin: 0 auto;
		form.add-achievement-form {
			text-align: right;
			textarea {}
			button.add-achievement {
			}
		}
	}
}
// sdfsdfdsf
