.avatar-section {
	color: red;

	.thumbnail {
		text-align: center;

	}

	.thumbnail .avatar {
		object-fit: cover;
		width: 360px;
		height: 360px;
		border-radius: 100%;
	}

	.empty-avatar {
		object-fit: cover;
		width: 360px;
		height: 360px;
	}
}
