.person-info-section {
	text-align: center;
	padding: 2.2rem 0 0;

	ul, .edit-name-section {
		h2, .name{
			text-align: center;
			font-size: 2.45rem;
			font-weight: 700;
			letter-spacing: 2px;
		}

		.edit-name-icon {
			cursor: pointer;
			width: 33px;
			height: 33px;
			margin: 0 0.2rem 1rem;
		}
	}

	ul, .edit-email-section {
		margin: 3rem 0 0;

		.email {
			font-size: 1.5rem;
		}

		.email-icon {
			height: 32px;
			width: 32px;
			margin: 0 1rem 1rem;
		}

		.edit-email-icon {
			cursor: pointer;
			width: 32px;
			height: 32px;
			margin: 0 0.4rem 1rem;
		}
	}
	ul, .edit-years-section {
		.years {
			font-size: 1.7rem;
		}

		.edit-years-icon {
			cursor: pointer;
			width: 32px;
			height: 32px;
			margin: 0 0.4rem 1rem;
		}
	}


	ul, .location {
		margin: 0 0.2rem;
		font-size: 1.8rem;

		.edit-country-icon {
			cursor: pointer;
			width: 32px;
			height: 32px;
			margin: 0 0.4rem 1rem;
		}

		.edit-city-icon {
			cursor: pointer;
			width: 32px;
			height: 32px;
			margin: 0 0.4rem 1rem;
		}
	}


	ul, .edit-phone-section {
		.phone {
			font-size: 1.4rem;
			letter-spacing: 2px;
		}

		.phone-icon {
			width: 25px;
			height: 25px;
			margin: 0 0 0.5rem 0.8rem;
		}

		.phone-edit-icon {
			cursor: pointer;
			width: 29px;
			height: 29px;
			margin: 0 0.4rem 0.65rem;
		}
	}
}

