@import './persons-info-section/name';
@import '/persons-info-section/age';
@import '/persons-info-section/country';
@import '/persons-info-section/city';
@import '/persons-info-section/email';
@import '/persons-info-section/phone';

.person-info-section {
	text-align: center;
	padding: 2.2rem 0 0;

	ul.location {
		margin: 0 0.2rem;
		letter-spacing: 2px;
		@media (max-width: 600px) {
			font-size: 1rem;
		}
	}
}


