.frameworks-section {
	margin: 0 0 2.5rem;
	.frameworks {
		li, .framework {
			display: inline-block;
			margin: 0 1rem;
			font-weight: 700;
			font-size: 1.16rem;
			.add-framework-input {
				max-width: 114px;
			}
			.add-framework-img {
				width: 28px;
				height: 28px;
			}
		}
	}
}
