.works-section {
	margin: 7rem 0 0 4rem;

	.title {
		text-align: center;
		font-size: 2.7rem;
		font-weight: 700;
		letter-spacing: 3px;
	}

	.works-list {
		margin: 1.5rem auto 0;
		list-style: none;
		max-width: 1000px;

		.single-work {
			display: list-item;
			margin: 2rem 0;

			.thumbnail {
				width: 312px;
				height: 195px;
			}

			.pagination-section {
				width: 313px;
				height: 36px;
				background: #373a3c;


				.pagination-list {
					text-align: center;
				}
				.pagination-item {
					border-radius: 50%;
					width: 16px;
					height: 16px;
					background-color: #e9f0f5;
					margin: 0.55rem 0.5rem 0;
					cursor: pointer;

					&:hover {
						background-color: #9dcff3;
					}
				}

				.pagination-item-active{
					background-color: #9dcff3;
				}
			}

			.work-title {
				font-size: 2.1rem;
				margin: 0;
			}

			.links-to-project {
				text-align: right;
				.link-icon {
					width: 35px;
					height: 35px;
				}

				.github-icon {
					width: 37px;
					height: 37px;
					margin: 0 0.7rem 0 0;
				}
			}

			.work {
				.work-description {
					font-size: 1.1rem;
					height: 158px;
					@media (max-width: 1000px) {
						height: 200px;
						margin: 0 0 0.145rem;
					}
				}
			}
			.additional {
				height: 35px;
				background: #373a3c;
				color: white;
				font-weight: 300;
				.technologies-list{
					margin: 0.4rem 1.5rem 0.4rem;
					.technology {
						margin: -1px 0.35rem 0 0.35rem;
						font-weight: 400;
					}
				}
				.single-work-additional-info-date {
					text-align: center;
					margin: 0.4rem 0;
					font-weight: 400;
				}
			}
		}
	}
}




// fsdfsdfsdfsdfsdfdf
// fsdfsdf
